.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container {
    flex: 1;
    text-align: center;
}

.animation-container {
    flex: 1;
}

.animation-size {
    width: 75%;
    margin-left: 7rem;
}

.text-zone {
    text-align: center;
    overflow: hidden;
}

.home-title {
    color: white;
    font-size: 90px;
}

.home-text {
    color: white;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
}

.btn-spacing {
    display: flex;
    gap: 20px;
    justify-content: center;
}
