#menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 30px;
    gap: 10px;
}
#menu li {
	float: left;
	display: inline;
	position: relative;
    cursor: pointer
}

#menu a {
	display: block;
	line-height: 65px;
	padding: 0 14px;
	text-decoration: none;
	color: #F7F7F7;
	font-size: 20px;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}

#menu li a:hover {
	color: #F25C54;
}

#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 65px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}

#menu label {
	display: none;
	line-height: 65px;
	text-align: center;
	position: absolute;
	left: 35px
}

#menu label:before {
	font-size: 1.6em;
	content: "\2261"; 
	margin-left: 20px;
}

#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #F25C54;
	position: absolute;
	z-index: 99;
	display: none;
}

#menu ul.sub-menus li {
	display: block;
	width: 100%;
}

#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}

#menu li:hover ul.sub-menus {
	display: block
}

#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #F7B267;
}
